.cardContent {
    display: flex;
    position: relative;
    flex-direction: column;
    text-transform: capitalize;
    justify-content: space-between;
    background: url(../../../../assets/images/etudes.jpg);
    background-size: 100%;
    color: white;
    width: 25rem;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    transition: box-shadow ease-in .25s;
    box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.25),
    inset 0px -76px 70px -26px rgba(0, 0, 0, 0.7);

    
    & > div:first-of-type {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: .5rem;
        font-size: 1.2rem;
        align-items: center;
        padding-inline: 1rem;
        & > div {
            display: flex;
            align-items: center;
            height: 3rem;
            padding-inline: 1.5rem;
            border-radius: .5rem;
            background-color: rgba($color: #000000, $alpha: .5);
        }

        i {
            font-size: 2rem;
        }
    }

    .cardContent_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 1rem;
        & > div {
            display: flex;
            flex-direction: column;
            & > div:first-of-type {
                margin-bottom: -1rem;
            }


            & > div{
                display: flex;
                gap: .2rem;

                & > p {
                    font-size: .8rem;
                    padding: .5rem 1rem;
                    border-radius: 1rem;
                    z-index: 10;
                    background-color: rgba($color: #000000, $alpha: .5);
                    transition: background-color;
                    &:hover {
                        background-color: var(--primary-opacity);
                    }
                }
            }
        }

        & > button {
            align-self: flex-end;
            height: fit-content;
            margin-bottom: 1rem;
            padding: .5rem 1rem;
            border-radius: .2rem;
            font-weight: 600;
            background-color: var(--primary-opacity);
            color: white;
            border: none;
            z-index: 10;

            a {
                color: currentColor;
            }
            &:hover {
                background-color: var(--primary);
            }
        }
    }
  
    &:hover {
        box-shadow: 0px 15px 23px rgba(0, 0, 0, 0.2),
                inset 0px -80px 100px -26px rgba(0, 0, 0, 0.7);
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        opacity: 1;
        background-color: rgba($color: #000000, $alpha: .1);
        transition: opacity ease-in .25s;
    }

    &:hover::before {
        opacity: 0;
    }

    h2 {
        font-size: 2rem;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 50%;
        translate: -50% -40%;
        color: white;
        transform: scale(1) translateY(0);
        transition: transform ease-in-out .25s;
    }
    &:hover h2 {
        transform: scale(1.1) translateY(-10%);
    }

    & > i {
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
        color: white;
        transform: translateY(0) scale(1) ;
        transform-origin: left;
        transition: transform ease-in-out .25s;
    }

    &:hover > i {
        transform: translateY(-20%) scale(1.2);
    }
}



