.cardContent {
    display: flex;
    position: relative;
    flex-direction: column;
    text-transform: capitalize;
    justify-content: space-between;
    background-color: rgb(40, 34, 85);
    background-size: 100%;
    width: 25rem;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    transition: box-shadow ease-in .25s;
    box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.25),
    inset 0px -76px 70px -26px rgba(0, 0, 0, 0.7);

    &:hover {
        box-shadow: 0px 15px 23px rgba(0, 0, 0, 0.2),
                inset 0px -80px 100px -26px rgba(0, 0, 0, 0.7);
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        opacity: 1;
        background-color: rgba($color: #000000, $alpha: .1);
        transition: opacity ease-in .25s;
    }

    &:hover::before {
        opacity: 0;
    }

    h2 {
        font-size: 2rem;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 50%;
        translate: -50% -40%;
        color: white;
        transform: scale(1) translateY(0);
        transition: transform ease-in-out .25s;
    }
    &:hover h2 {
        transform: scale(1.1) translateY(-10%);
    }

    & > i {
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
        color: white;
        transform: translateY(0) scale(1) ;
        transform-origin: left;
        transition: transform ease-in-out .25s;
    }

    &:hover > i {
        transform: translateY(-20%) scale(1.2);
    }
}

.favorite {
    display: flex;
    align-items: center; 
    gap: .8rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    z-index: 10;
    padding-inline: .8rem;
    border-radius: 10rem;
    height: 3rem;
    width: fit-content;
    color: white;
    background-color: rgba($color: #000000, $alpha: .5);
    cursor: pointer;
}

