.profile {

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: white;
        background-color: var(--dark-primary);
        font-size: 1.3rem;
        i { 
            padding: .7rem;
            border-radius: 50%;
            background-color: #fff;
            color: var(--dark-primary);
        }
    }
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .7rem;
        background-color: red;
        padding-block: .5rem;
        a {
            color: white;
            transform: scale(1);
            transition: transform ease-in .25s;
        }
        a:hover {
            transform: scale(1.2);
            &::before {
                display: none;
            }
        }
    }
}