.footer {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 3rem;
    background-color: #233755;
}

.footer_content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: auto;
    max-width: 1200px;
    width: 80%;
    padding-block: 3rem 4rem;
    border-bottom: 1px solid currentColor;

    & > p {
        width: fit-content;
        align-self: center;
        font-weight: 600;
        font-size: 1.5rem;
    }

    a {
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    li {
        font-size: 1rem;
    }
    .active {
        font-size: 1.3rem;
        margin-bottom: .5rem;
        font-weight: 600;
    }
}

.footer_bottom {
    font-size: 1.2rem;
    padding-block: 1rem;
    text-align: center;
}