:root {
    --primary: #156CD4;
    --primary-opacity: rgba(21, 107, 213, 0.85);
    --dark-primary: #1e3799;
    --dark-blue: #233755;
    --background-blue: #ADD8FF;
    --light-blue: #3982b6;
    --text-blue: #064087;
    --dark-gray:#2c3e50 ;
    --gray: #95a5a6;
    --light-grey: #efefef;
    --text-color: #444;
    --background-body: #fff;
    --error: #e74c3c;
    --valid: #8EF075;
    --divider: #ecf0f1;
    --font-family: 'Nunito', sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow: rgb(0 0 0 / 22%) 0 2px 18px 0;
}